<h2>Gestion des championnats</h2>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Liste des championnats</div>
			</div>
			<div class="panel-body">
				<form>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Nom</th>
								<th>Type</th>
								<th width="100em" />
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="championnat in championnats">
								<td ng-click="selectionner(championnat, $index)">{{championnat.id}}</td>
								<td ng-click="selectionner(championnat, $index)">{{championnat.name}}</td>
								<td>{{championnat.type}}</td>
								<td><span class="glyphicon glyphicon-flag"
									aria-hidden="true" title="Affecter les circuits"
									ng-click="selectionnerCircuits(championnat, $index)"></span></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td></td>
								<td><input type="text" class="form-control" id="nom"
									placeholder="name" ng-model="form.name"></td>
								<td><input type="text" class="form-control" id="type"
									placeholder="type" ng-model="form.type"></td>
								<td>
									<button type="submit" class="btn btn-default"
										ng-click="ajouter()" ng-hide="selection">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"
											title="Ajouter"></span>
									</button>
									<button type="submit" class="btn btn-default"
										ng-click="modifier()" ng-show="selection">
										<span class="glyphicon glyphicon-ok" aria-hidden="true"
											title="Modifier"></span>
										<button type="submit" class="btn btn-default"
											ng-click="supprimer()" ng-show="form.supprimable">
											<span class="glyphicon glyphicon-remove" aria-hidden="true"
												title="Supprimer"></span>
										</button>
									</button>
								</td>
							</tr>
						</tfoot>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="alert alert-success" role="alert" ng-show="message">{{message}}</div>
<table class="table table-hover" ng-show="selected">
	<thead>
		<tr>
			<th>#</th>
			<th>Nom</th>
			<th>Longueur</th>
			<th>Pays</th>
			<th>Date</th>
			<th />
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="track in tracks"
			ng-class="{'success' : selectedTracks[$index].selected}">
			<td ng-click="onSelect(track, $index)">{{track.id}}</td>
			<td ng-click="onSelect(track, $index)">{{track.name}}</td>
			<td ng-click="onSelect(track, $index)">{{track.length}}</td>
			<td ng-click="onSelect(track, $index)">{{track.country.name}}</td>
			<td><input type="text" class="form-control" id="raceDate"
				placeholder="Race date" ng-model="selectedTracks[$index].date"
				ng-show="selectedTracks[$index].selected" /></td>
			<td>
				<button type="submit" class="btn btn-default"
					ng-show="selectedTracks[$index].selected"
					ng-click="onValid(track, selectedTracks[$index].date, $index)">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"
						title="Modifier"></span>
				</button>
				<button type="button" class="btn btn-default" data-toggle="modal"
					data-target="#resultsModal" ng-if="selectedTracks[$index].selected">
					<span class="glyphicon glyphicon-sort-by-attributes-alt"
						aria-hidden="true" title="Modifier"></span>
				</button>
				<button class="btn btn-primary" type="button"
					ng-click="showResults(track, selectedTracks[$index], 1)"
					ng-if="selectedTracks[$index].selected">
					<span class="badge">1</span>
				</button>
				<button class="btn btn-primary" type="button"
					ng-click="showResults(track, selectedTracks[$index], 2)"
					ng-if="selectedTracks[$index].selected && selectedTracks[$index].towRacesMode">
					<span class="badge">2</span>
				</button>
			</td>
		</tr>
	</tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" data-ng-controller="ResultCtrl as vm">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Results edition -
					{{vm.race.track.name}} - {{vm.race.race.date}} - {{vm.scoringSystem}}</h4>
			</div>
			<div class="modal-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Driver</th>
							<th>Starting</th>
							<th>Arrival</th>
							<th>Points</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="result in vm.results">
							<td>{{result.driver.id}}</td>
							<td>{{result.driver.name}}</td>
							<td><input type="number" name="start" width="2em"
								maxlength="2" ng-model="result.startingPosition"
								ng-change="enableSaveButton($index)" /></td>
							<td><input type="number" name="end"
								ng-model="result.arrivalPosition" /></td>
							<td>{{result.points.points}}</td>
							<td><span class="glyphicon glyphicon-ok" aria-hidden="true"
								title="Update" ng-click="vm.update($index)"></span> <span
								class="glyphicon glyphicon-remove" aria-hidden="true"
								title="Delete" ng-click="vm.remove($index)"></span>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2"><select class="form-control"
								ng-model="vm.indexSelectedDriver" ng-change="vm.selectDriver()">
									<option ng-repeat="driver in vm.drivers" value="{{$index}}">{{driver.name}}</option>
							</select></td>
							<td><input type="number" class="form-control"
								id="startPosition" placeholder="Start position"
								ng-show="vm.showDriver"
								ng-model="vm.resultInfos.startingPosition"></td>
							<td><input type="number" class="form-control"
								id="arrivalPosition" placeholder="Arrival position"
								ng-show="vm.showDriver"
								ng-model="vm.resultInfos.arrivalPosition"></td>
							<td></td>
							<td><button type="submit" class="btn btn-default"
									ng-show="vm.showDriver" ng-click="vm.save()" >
									<span class="glyphicon glyphicon-ok" aria-hidden="true"
										title="Add"></span>
								</button></td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="alert alert-danger" role="alert" ng-show="vm.error">{{vm.error}}</div>
			<div class="alert alert-success" role="alert" ng-show="vm.message">{{vm.message}}</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>