
<h2>{{championnat.libelle}} - Classement général</h2>
<div class="row">
	<div class="col-md-3">
<img src="d_1280x1024.jpg" alt="" class="img-rounded">
</div>
<div class="col-md-9">
<table class="table">
	<thead>
		<tr>
			<th>Classement</th>
			<th>Pilote</th>
			<th>Points</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="cl in classement">
			<td>{{cl.rang}}</td>
			<td>{{cl.nom}}</td>
			<td>{{cl.points}}</td>
		</tr>
	</tbody>
</table>
</div>
</div>
<div class="row">
	<div class="col-md-7">
		<h3>Grands prix</h3>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Date</th>
					<th>Circuit</th>
					<th>Longueur</th>
					<th>Pays</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="gp in gps" ng-click="resultats(gp.id)">
					<td>{{gp.id}}</td>
					<td>{{gp.date}}</td>
					<td>{{gp.nom}}</td>
					<td>{{gp.longueur}}</td>
					<td>{{gp.pays}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-5">
		<h3>Résultats</h3>
		<div ng-hide="hideMsgSelectionGp" id="results" class="col-text">Veuillez
			sélectionner un grand prix !</div>
		<table class="table">
			<thead>
				<tr>
					<th>Course</th>
					<th>Place</th>
					<th>Pole</th>
					<th>Pilote</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="conc in concurrents">
					<td>{{conc.numCourse}}</td>
					<td>{{conc.arrivee}}</td>
					<td><img ng-hide="{{!conc.pole}}" src="design/Accept16.png" /></td>
					<td>{{conc.nom}}</td>
					<td>{{conc.points}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


