
		<!-- Promo -->
		<div id="col-top"></div>
		<div class="box" id="col">

			<div id="col-text">
			<h2>Nombre de victoires</h2>
				<table id="jquery">
					<thead>
						<tr>
							<th>Pilote</th>
							<th>Victoires</th>
						</tr>
					</thead>
					<tbody>
							<tr data-ng-repeat="victoire in stats">
								<td>{{victoire.name}}</td>
								<td>{{victoire.count}}</td>
							</tr>
					</tbody>
				</table>
				toto
			<stats-victories/>
			</div>
			<!-- /col-text -->

		</div>
		<!-- /col -->
		<div id="col-bottom"></div>



