
		<!-- Promo -->
		<div id="col-top"></div>
		<div class="box" id="col">

			<!--div id="ribbon"></div-->
			<!-- /ribbon (design/ribbon.gif) -->

			<!-- Screenshot in browser (replace tmp/browser.gif) -->
			<div id="col-browser">
				<!--a href="#"><img width="255" height="204" alt="" src="d_1280x1024.jpg" /></a-->
			</div>

			<div id="col-text">
			<h2>Nombre de poles</h2>
				<table id="jquery">
					<thead>
						<tr>
							<th>Pilote</th>
							<th>Poles</th>
						</tr>
					</thead>
					<tbody>
							<tr data-ng-repeat="pole in stats">
								<td>{{pole.name}}</td>
								<td>{{pole.count}}</td>
							</tr>
					</tbody>
				</table>
			</div>
			<!-- /col-text -->

		</div>
		<!-- /col -->
		<div id="col-bottom"></div>



