<!DOCTYPE html>
<html data-ng-app="chpApp" >
<head>
<meta charset="UTF-8">
<link href="css/reset.css" type="text/css" media="screen,projection"
	rel="stylesheet" />
<link href="css/main.css" type="text/css" media="screen,projection"
	rel="stylesheet" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="css/main-msie.css" /><![endif]-->
<link href="css/style.css" type="text/css" media="screen,projection"
	rel="stylesheet" />
<link href="css/print.css" type="text/css" media="print"
	rel="stylesheet" />
<title>Championnat GTR privé</title>

</head>
<body>
<div id="main" data-ng-controller="ChampionnatListController">

		<!-- Header -->
		<div id="header">

			<h1 id="logo">
				<a title="[Go to homepage]" href="./"><img alt=""
					src="logogtr.png" /></a>
			</h1>
			<hr class="noscreen" />

			<!-- Navigation -->
			<!--
        <div id="nav">
            <a id="nav-active" href="#">Homepage</a> <span>|</span>
            <a href="#">About us</a> <span>|</span>
            <a href="#">Support</a> <span>|</span>
            <a href="#">Contact</a>
        </div>-->
			<!-- /nav -->

		</div>
		<!-- /header -->

		<!-- Tray -->
		<div id="tray">

			<ul>
				<li id="tray-active"><a
					href="#/championnat/2">Accueil</a></li>
				<!-- Active page --><!-- ng-click="selectChampionnat(champ.id)" -->
					<li id="tray-active" data-ng-repeat="champ in championnats"><a href="#/championnat/{{champ.id}}">{{champ.libelle}}</a></li>
					<li id="tray-active"><a
					href="#/stats">Statistiques</a><li>
				<!-- Active page -->
				<!--
            <li><a href="#">Pilotes<br /></a></li>
            <li><a href="#">Circuits<br /></a></li>
            <li><a href="controleur.php?action=Stats&championnat=1">Statistiques<br /></a></li>
            -->
			</ul>

			<hr class="noscreen" />
		</div>
		<!-- /tray -->
		
		
	  <div class="view-container">
    <div ng-view class="view-frame"></div>
    
    
  </div>
  		<hr class="noscreen" />
		<!-- Footer -->
		<div id="footer">

			<!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
			<p class="f-right">
				<a href="http://www.nuviotemplates.com/">Free web templates</a>
				presented by <a href="http://www.qartin.cz/">QARTIN</a> – Our tip: <a
					href="http://last-minute.invia.pl">Wakacje</a> <a
					href="http://dovolenka.invia.sk">Dovolenka</a>
			</p>
			<!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->

			<p>
				Copyright © 2012 <strong><a href="#">Ludovic THOMAS</a></strong>,
				All Rights Reserved ®
			</p>

		</div>
		<!-- /footer -->
	</div>  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="js/championnat.module.js"></script>
	<script src="app/directives/stats.js"></script>
</body>
</html>